extends layout
block content
	div.top
		legend fh-igui
	div.container
		form(action='/submit',method='post')
			fieldset
				include organisation
				
				include vpc
				
				include default-instance
				
				include default-ebs
				
				include secondary-ebs
				
				include security-groups

			button.btn(type='submit') Submit
				
	div.content
	div.footer