legend VPC Settings
label(for='awsRegion') AWS Region
input(id='awsRegion',type='text',placeholder='e.g. eu-west-1',value='',name='awsRegion')

label(for='cidrRange') CIDR Range
input(id='cidrRange',type='text',placeholder='e.g. 10.1.0.0/16',value='',name='cidrRange')